<div class="venue-search">
    <i class="material-icons orange600">room</i>
    <md-input-container>
        <input ng-model="place" type="text" placeholder="Enter A Place" ng-change="searchVenues()" ng-model-options="{debounce:500}"> 
    </md-input-container>
</div>
<div class="venue-list">
    <md-content class="venue" ng-repeat="venue in recommendedVenues"> 
        <md-card>
            <md-card-header>
                <md-card-header-text>
                <span class="md-title">{{venue.name}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{venue.photo}}" class="md-card-image" alt="No Picture">
            <md-card-content>
                <p ng-if= "venue.address"><i class="material-icons orange600">room</i> {{venue.address}}</p>
                <p>
                    <i ng-if= "venue.phone" class="material-icons orange600">local_phone</i> {{venue.phone}} 
                    <a ng-if= "venue.website" href={{venue.website}} target="_blank">
                        <i class="material-icons">public</i>
                    </a>
                </p>
        
            </md-card-content>

        </md-card>
    </md-content>    
 </div>   

