.venue-search {
    text-align:center
}
.venue-list {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.venue {
    width: 350px;
    height: 550px;
    display: inline-block;
}
.venue:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}